header
{
    background-color: #8f0000d8;
    color: white;
    display: grid;
    width: 100%;
    font-size: 15px;
}
.HEA
{
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-column-gap:  7px;

}
.Izquierda a
{
    display: block;
    background-image: url(Imagen/magua.png);
    background-position: center;
    background-size: cover;
    width: 170px;               /* Ancho del enlace */  
    height: 70px;   
    background-repeat: no-repeat; 
}
.Derecha
{
    align-content: center;
    background-color: rgb(175, 37, 37);
}